@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins';
}

#left-side {
    background-color: #0A3546;
}

#scr-text {
    font-size: 8px;

}

.dashboard-btn {
    background-color: #9699A24F;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.btn-text {
    color: white;
    font-size: 10px;
}

a {
    text-decoration: none;
}

.navbar {

    padding-top: 1rem;
    border: 0.25px solid #000000;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.navbar-brand {
    font-size: 24px;
}

.form-control {
    width: 260px;
    border-radius: 15px;
}

input::selection {
    border-color: transparent;
    /* You can use 'none' as well */
    box-shadow: none;
    /* Optionally remove any focus box-shadow */
}

.input-box {
    width: 260px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.form-switch .form-check-input {
    height: 30px;
    width: 86px;
}

.bell-btn {
    width: 45px;
    height: 40px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 50%;
}

.admin-heading {
    font-size: 20px;
}

.navbar-collapse {
    display: flex;
    justify-content: end;
}

.content-div {
    border-radius: 20px;
}

#right-side {
    background: #EBEEF0;
}

.copyright-text {
    font-size: 13px;
}

.details-box {
    width: 130px;
    height: 150px;
    border-radius: 20px;
    border: 0.5px solid #000000;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.img1{
    width: 75px;
    height: 75px;
}
.img2{
    width: 50px;
    height: 75px;
}
.img3{
    width: 70px;
    height: 75px;  
}
.img4{
    width: 75px;
    height: 75px;
}
.img5{
    width: 75px;
    height: 75px;
}
.img6{
    width: 50px;
    height: 75px;
}

.box-text{
    font-size: 13px;
}